<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/styles/ecommerce.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>


<body>


    

    <div class="top-nav">

        
       <h1>Electro Hub</h1>

        <nav>
        <ul>
            <li><a href="/smartphones" class="phones">Smartphones</a></li>
            <li><a href="/laptops" class="laptops">Laptops</a></li>
            <li><a href="/earphones" >Earphones</a></li>
            <li><a href="/headphones">Headphones</a></li>
        </ul>
        </nav>

    </div>






    <div class="items">

        <div class="slider">

            <div class="phones box">
                <a href="/smartphones">
                    <button class="shoppingBtn orange">Shop Now!</button>
                </a>
            </div>

            <div class="laptops box">
                <a href="/laptops">
                    <button class="shoppingBtn black">Shop Now! </button>
                </a>
            </div>

            <div class="earphones box">
                <a href="/earphones">
                    <button class="shoppingBtn black">Shop Now!</button>
                </a>
            </div>

            <div class="headphones box">
                <a href="/headphones">
                    <button class="shoppingBtn">Shop Now!</button>
                </a>
            </div>


         
            <!-- Clone of first -->
            <div class="phones box">
                <a href="/phones">
                    <button class="shoppingBtn">Shop Now!</button>
                </a>
            </div>

            

        </div>



    </div>








    


    

    
    
    

    

    <script src="/script.js"></script>
</body>
</html>