<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/styles/ecommerce.css">
</head>
<body>

    <div class="top-nav">
        
       <h1>Mobile Store</h1>

        <nav>
        <ul>
            <li><a href="/smartphones">Smartphones</a></li>
            <li><a href="/laptops">Laptops</a></li>
            <li><a href="/earphones">Earphones</a></li>
            <li><a href="/headphones">Headphones</a></li>
        </ul>
    </nav>

    </div>

    


    <h1>Welcome to our E-commerce Platform!</h1>
    <p>Explore our wide range of products and enjoy seamless shopping experience.</p>


</body>
</html>