<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/styles/ecommerce.css">
</head>
<body>

    <div class="top-nav">
        
        <img class="logo" src="/images/Ecommerce-Logo-Design-Graphics-32523051-1-1-580x386.jpg" alt="E-commerce Logo" width="100" height="50">

        <nav>
        <ul>
            <li><a href="/login">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>

    </div>

    


    <h1>Welcome to our E-commerce Platform!</h1>
    <p>Explore our wide range of products and enjoy seamless shopping experience.</p>


</body>
</html>