<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earphones</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/headphones.css">
</head>
<body>
    



    <div class="homepage">
        <a href="/ecommerce">
                Electro Hub
        </a>
    </div>


    <div class="video">
        <video autoplay muted loop>
            <source src="../images/Headphones/AirPods Max 2 - Apple (AE).mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>




    <!-- products -->

    <div class="products">

        <!---earphones   --->

        <div class="product-card"> 

            <div class="image">
                <img src="../images/Headphones/Airbuds Max Wireless Bluetooth Headphones.webp" alt="	soundcore space ">
            </div>

            <div class="details">
                <div class="product-name">Airbuds Max Wireless Bluetooth Headphone</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>

        </div>



        <div class="product-card">

            <div class="image">
                <img src="../images/Headphones/Q20i Hybrid Active Noise Cancelling Bluetooth Over-Ear Headset.webp" alt="Q20i Hybrid Active Noise Cancelling Bluetooth Over-Ear Headset">
            </div>
            
            <div class="details">

                    <div class="product-name">Q20i Hybrid Active Noise Cancelling Bluetooth Over-Ear Headset</div>
                    <p class="description">In Stock</p>
                    <p class="price">$999</p>
                    <button class="addToCart">Add to Cart</button>

             </div>

        </div>



        <div class="product-card">

            <div class="image">
                <img src="../images/Headphones/H30i Wireless Over-Ear Headphone.webp" alt="H30i Wireless Over-Ear Headphone">
            </div>

            <div class="details">
                <div class="product-name">H30i Wireless Over-Ear Headphone</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>

        </div>



  
        <div class="product-card">

            <div class="image">
                <img src="../images/Headphones/Sony WH-CH520 Wireless Headphone.png" alt="Sony WH-CH520 Wireless Headphone">
            </div>

                <div class="details">
                    <div class="product-name">Sony WH-CH520 Wireless Headphone</div>
                    <p class="description">In Stock</p>
                    <p class="price">$999</p>
                    <button class="addToCart">Add to Cart</button>
                </div>
        </div>



        <div class="product-card">

            <div class="image">
                <img src="../images/Headphones/SteelSeries Arctis Nova 7X Premium Wireless Gaming Headset.jpg" alt="SteelSeries Arctis Nova 7X Premium Wireless Gaming Headset">
            </div>

            <div class="details">
                <div class="product-name">SteelSeries Arctis Nova 7X Premium Wireless Gaming Headset</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>
        </div>



        <div class="product-card">

            <div class="image">
                <img src="../images/Headphones/Sony WH-CH520 Wireless Headphone.webp" alt="Sony WH-CH520 Wireless Headphone">
            </div>
            
            <div class="details">
                <div class="product-name">Sony WH-CH520 Wireless Headphone</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
               <button class="addToCart">Add to Cart</button>
           </div>


        </div>





        <div class="product-card">

            <div class="image">
                <img src="../images/Headphones/Tune 770NC Wireless Over-Ear Headphone.webp" alt="Tune 770NC Wireless Over-Ear Headphone">
            </div>

            <div class="details">
                <div class="product-name">Tune 770NC Wireless Over-Ear Headphone</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>
        </div>

        


        <div class="product-card">

            <div class="image">
                <img src="../images/Headphones/Sony WH-1000XM6 Wireless Noise Canceling Headphone.webp" alt="Sony WH-1000XM6 Wireless Noise Canceling Headphone">
            </div>
            
            <div class="details">
                <div class="product-name">Sony WH-1000XM6 Wireless Noise Canceling Headphone</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>
        </div>



        <div class="product-card">

            <div class="image">
                <img src="../images/Headphones/Steelseries Arctis Nova Pro Wireless Over-Ear Gaming Headset.jpg" alt="SteelSeries Arctis Nova Pro Wireless Over-Ear Gaming Headset">
            </div>

            <div class="details">
                <div class="product-name">SteelSeries Arctis Nova Pro Wireless Over-Ear Gaming Headset</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>

       </div>




    </div>









</body>
</html>