<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptops</title>
    <link rel="stylesheet" href="../styles/laptops.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>



    <div class="homepage">
        <a href="/ecommerce">
                Electro Hub
        </a>
    </div>




    <div class="video">
        <video autoplay muted loop>
            <source src="../images/MacBook 2.mp4" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>






    <!---    products   --->
    <div class="products">

        <!--- Laptops   --->

        <div class="product-card"> 

            <div class="image">
                <img src="../images/laptops/mackbook 1.webp" alt="mac book neo">
            </div>

            <div class="details">
                <div class="product-name">  MacBook Neo</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>

        </div>



        <div class="product-card">

            <div class="image">
                <img src="../images/laptops/L 2.webp" alt="Laptop 2">
            </div>
            
            <div class="details">

                    <div class="product-name">Dell</div>
                    <p class="description">In Stock</p>
                    <p class="price">$999</p>
                    <button class="addToCart">Add to Cart</button>

             </div>

        </div>



        <div class="product-card">

            <div class="image">
                <img src="../images/laptops/L 3.webp" alt="Dell Laptop">
            </div>

            <div class="details">
                <div class="product-name">Dell</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>

        </div>



    
        <div class="product-card">

            <div class="image">
                <img src="..//images/laptops/L 4.webp" alt="Dell Laptop">
            </div>

                <div class="details">
                    <div class="product-name">Dell</div>
                    <p class="description">In Stock</p>
                    <p class="price">$999</p>
                    <button class="addToCart">Add to Cart</button>
                </div>
        </div>


        <div class="product-card">

            <div class="image">
                <img src="../images/laptops/L 5.webp" alt="Dell Laptop">
            </div>

            <div class="details">
                <div class="product-name">Dell</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>
        </div>


        <div class="product-card">

            <div class="image">
                <img src="../images/laptops/L 6.webp" alt="Dell Laptop">
            </div>
            
            <div class="details">
                <div class="product-name">Dell</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
               <button class="addToCart">Add to Cart</button>
           </div>


        </div>





        <div class="product-card">

            <div class="image">
                <img src="../images/laptops/L 6.webp" alt="Dell Laptop">
            </div>

            <div class="details">
                <div class="product-name">Dell</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>
        </div>

        

        <div class="product-card">

            <div class="image">
                <img src="../images/laptops/L 8.jpg" alt="Dell Laptop">
            </div>
            
            <div class="details">
                <div class="product-name">Dell</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>
        </div>


        <div class="product-card">

            <div class="image">
                <img src="../images/laptops/L 9.webp" alt="Dell Laptop">
            </div>

            <div class="details">
                <div class="product-name">Dell</div>
                <p class="description">In Stock</p>
                <p class="price">$999</p>
                <button class="addToCart">Add to Cart</button>
            </div>

        </div>




    </div>
















    
</body>
</html>