<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartphones</title>
    <link rel="stylesheet" href="../styles/smartphones.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>


    <div class="homepage">
        <a href="/ecommerce">
                Electro Hub
        </a>
    </div>




    <div class="video">
        <video autoplay muted loop>
            <source src="../images/galaxy.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>



    <div class="products">

        <!---iphone   --->

        <div class="product">
            <img src="../images/iphone14pro.png" alt="iPhone 17 Pro">
            <div class="product-name">iPhone 17 Pro</div>
            <p class="description">description</p>
            <p class="price">$999</p>
            <button class="addToCart">Add to Cart</button>
        </div>


        <div class="product">
            <img src="../images/iphone14pro.png" alt="iPhone 16 Pro">
            <div class="product-name">iPhone 16 Pro</div>
            <p class="description">description</p>
            <p class="price">$999</p>
            <button class="addToCart">Add to Cart</button>
        </div>


        <div class="product">
            <img src="../images/iphone14pro.png" alt="iPhone 15 Pro">
            <div class="product-name">iPhone 15 Pro</div>
            <p class="description">description</p>
            <p class="price">$999</p>
            <button class="addToCart">Add to Cart</button>
        </div>




        <!---samsung galaxy   --->    
        <div class="product">
            <img src="../images/iphone14pro.png" alt="samsung galaxy s26 ultra">
            <div class="product-name">Samsung Galaxy S26 Ultra</div>
            <p class="description">description</p>
            <p class="price">$999</p>
            <button class="addToCart">Add to Cart</button>
        </div>


        <div class="product">
            <img src="../images/iphone14pro.png" alt="samsung galaxy s25 ultra">
            <div class="product-name">Samsung Galaxy S25 Ultra</div>
            <p class="description">description</p>
            <p class="price">$999</p>
            <button class="addToCart">Add to Cart</button>
        </div>


        <div class="product">
            <img src="../images/iphone14pro.png" alt="samsung galaxy s24 ultra">
            <div class="product-name">Samsung Galaxy S24 Ultra</div>
            <p class="description">description</p>
            <p class="price">$999</p>
            <button class="addToCart">Add to Cart</button>
        </div>



        
        <!---huawei   --->

        <div class="product">
            <img src="../images/iphone14pro.png" alt="huawei Mate XT Ultimate">
            <div class="product-name">huawei Mate XT Ultimate</div>
            <p class="description">description</p>
            <p class="price">$999</p>
            <button class="addToCart">Add to Cart</button>
        </div>

        

       
        

    </div>



      

       

















</body>
</html>